.try {
  width: 200px;
  height: fit-content;
}
.css-1rhbuit-multiValue {
  background-color: red !important;
  color: #111;
}
.Select-value-label {
  background-color: red;
  color: #111;
}
.css-g1d714-ValueContainer {
}
